#pixnet{	
	width: 120px;
	height: 50px;
	position:absolute;
	top:10px;
	left:10px;
}

#login{	
	position:absolute;
	top:15px;
	left:1100px;
}
#register{
	position:absolute;
	top:40px;
	left:1100px;
}


#list{
	background-color:#CC00FF;
	width: 1215px;
	height: 55px;
	position:absolute;
	top:10px;
	left:140px;
}

#list form{
	position:absolute;
	top:15px;
	left:10px;
	
}


#article{
	/*background-color:#33FF33;*/
	width: 850px;
	height: 570px;
	position:absolute;
	top:70px;
	left:10px;

}

#article_block{
	background-color:rgb(201,243,248);
	border-style: dashed;
	border-width:3px; 
	border-color:rgb(30,30,255);
	width: 195px;
	height: 260px;
	position:relative;
	left:5px;
	font-size:16px;
	font-weight: 500;
	font-family:Microsoft JhengHei;
	letter-spacing:1px;
	text-align:center;
	overflow:hidden;
	float:left;
	margin-right: 10px;
	margin-top: 15px;
}

#transparent{
	background-color: rgba(100%,100%,100%,0.8);
	width: 195px;
	height: 85px;
	position:absolute;
	top:170px;
	left:0px;
	overflow:hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
	
}

#store{
	background-color:#DDFF77;
	width: 485px;
	height: 250px;
	position:absolute;
	top:70px;
	left:870px;

}

#googlemap{
	background-color:#FFA488;
	width: 485px;
	height: 310px;
	position:absolute;
	top:330px;
	left:870px;

}

#myArticle{
	background-color:#CCFF99;
	width: 257px;
	height: 217px;
	position:absolute;
	top:50px;
	left:20px;
	font-size:16px;
	font-weight: 100;
	font-family:Microsoft JhengHei;
	letter-spacing:1px;
	text-align:center;
	overflow:hidden;
	float:left;
	margin-right: 10px;
	margin-top: 15px;
}